RTopo105b_50S.nc
libspud.so
*.pyc
*.pkl
*.shc
spud/
tool/spud-preprocess
lib
ref
bin
shingle.log
.DS_Store
build/
dist/
shingle.egg-info/

dataset
test/Amundsen_Sea/Amundsen_Sea.geo
test/Antarctica_all/Antarctica_all.geo
test/Antarctica_main_landmass/Antarctica_main_landmass.geo
test/Antarctica_main_landicemass/Antarctica_main_landicemass.geo
test/Antarctica_main_landicemass_30s/Antarctica_main_landicemass_30s.geo
test/Filchner-Ronne/Filchner-Ronne.geo
test/Filchner-Ronne_back/Filchner-Ronne_back.geo

test/legacy/amundsen_sea/
test/legacy/antarctica_all/
test/legacy/filchner-ronne/
test/legacy/antarctica_main_landicemass/
test/legacy/antarctica_main_landicemass_30s/
test/legacy/filchner-ronne_back/

test/*/*.geo
test/*/*.msh
test/*/*.png
test/*/data/*.nc

test/Caribbean/data/Caribbean_valid.geo
test/Caribbean_main_coastline/data/Caribbean_main_coastline_valid.geo

shingle/unittest/output.brml
shingle/unittest/output.msh

