include MANIFEST MANIFEST.in README.md AUTHORS COPYING LICENSE
include setup.py
include schema/shingle_options.rng
recursive-include shingle/ *.py
recursive-include shingle/ *.so

recursive-include spud/include/ *.h
include spud/include/*.h

prune dataset
recursive-exclude dataset/ *


